.header {
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #ff7f7f;
  height: 35px;
  animation: spinHorizontal 8s linear infinite;
}

.login {
  margin-left: 10px;
}

@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
